/* common */

.container{
    /* outline: 1px solid red; */
}

body{
    margin: 0;
}

h1,h2,p{
    margin: 0;
    text-align: center;
}

h1{
    font-size: 128px;
}
h2{
    font-size: 64px;
}

/* header */
header{
    background-color: #89c997;
    color: #233326;
    height: 64px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

header .container{
    display: flex;
    height: 64px;
}
header .left{
    
    margin: 0 128px auto;
}

header .right{
    height: 64px;
    margin: 0 auto 128px;
}

header p{
    font-size: 32px;
    line-height: 64px;
}



header a{
    color: #233326;
    width: fit-content;
    text-align: center;
    padding: 0 15px;
    line-height: 64px;
    text-decoration: none;
}


/* main */

main{
    background-color: #fff;
}

main section{
    height: calc(100vh - 64px);
    position: relative;
    margin: 0 auto;

}
main .container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: min-content;

    margin: auto;

}
main p{

    font-size: 14px;
}


.hero{
    padding-top: 64px;
    background-image: url(../img/webbg_l_entrypackts.jpeg) ;
    background-position: bottom;
    color: #fff;
}
/* footer */
footer{
    background-color: #999;
    height: 64px;
}